*{
    text-align: center;
}
.container{
    width: 50%;
    height: 100%;
    border: 10px;
    border: black;
    background-color: blue;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
#play{
    margin-top: 20%;
    margin-bottom: 20%;
    width: 50%;
}

.tiles{
    visibility: hidden;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.back img{
  width: 100px;
  height: 100px;
}

.col{
    float: left;
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  
  .front, .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width: 100px;
    height: 100px;
  }
  
  .front {
    border: 2px solid black;
    background-color: blueviolet;
  }
  

  
  .back {
    border: 2px solid black;
    transform: rotateY(180deg);
    background-color: brown;
  }
  