*{
    text-align: center;
    margin: auto 0;
    align-items: center;
}
.container-fluid{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: 10px;
    border: black;
    background-color: blue;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-bottom: 2%;
}

#play{
    margin-top: 20%;
    margin-bottom: 20%;
    width: 50%;
}

.tiles{
    visibility: hidden;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    padding-left: 20%;
}

.back img{
  width: 8vw;
  height: 8vw;
}
.row{
  width: 100%;
}
.col{
    float: left;
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
  }
  
  .front, .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width: 8vw;
    height: 8vw;
  }
  
  .front {
    border: 2px solid black;
    background-color: blueviolet;
  }
  

  
  .back {
    border: 2px solid black;
    transform: rotateY(180deg);
    background-color: brown;
  }
  

  